img {
    width:  100px;
    height: 100px;
}

.review {
    background-color: lightgray;
    
}

.review-text p {
    line-height: 150%;
}

#site-maintainer {
    border-radius: 25px;
}

main {
    text-align: center;
}