.cover {
    width:  80px;
    height: 100px;
}

.review {
    background-color: lightgray;
    
}

.review-text p {
    line-height: 150%;
}

#site-maintainer {
    border-radius: 25px;
}

main {
    text-align: center;
    background-color: lightblue;
}

body {
    font-family: Arial;
}

#book-title {
    font-style: italic;
}

header, footer {
    background-color: lightgreen;
}

a.hover {
    color: limegreen
}

ul {
    list-style-type: none;
}